<template id="greeting-template">
  <div>
    <input v-model="greeting">
    <h1>{{ greeting }}</h1>
    <h2>{{ reversedGreeting }}</h2>
  </div>
</template>
<script>
  Vue.component('greeting', {
    template: '#greeting-template',
    data: () => ({
      greeting: 'Example'
    }),
    computed: {
      reversedGreeting: function () {
        return this.greeting.split('').reverse().join('');
      }
    },
  });
</script>
<style scoped>
</style>