<!-- A template for component that is restricted to registered users only -->
<template id="intranet-template">
  <div>
    <h1>Hello, {{ $javalin.state.username }}</h1>
    <p>Welcome to page visible only to registered users intranet!</p>
  </div>
</template>
<script>
  Vue.component('intranet', {
    template: '#intranet-template',
    data: () => ({
      $ctx: Vue.$javalin.state
    })
  });
</script>
<style scoped>
</style>