<template id="registration-template">
  <div>
    <h1>Registration</h1>
    <form action="/register" method="POST">
      <fieldset>
        <legend>Form</legend>
        <p>
          <label for="username">Username:</label>
          <input type="text" id="username" name="username">
        </p>
        <p>
          <label for="fname">First name:</label>
          <input type="text" id="fname" name="firstName">
        </p>
        <p>
          <label for="lname">Last name:</label>
          <input type="text" id="lname" name="lastName">
        </p>
        <p>
          <label for="email">Email:</label>
          <input type="email" id="email" name="email">
        </p>
        <p>
          <label for="email">Password:</label>
          <input type="password" id="pass1" name="password1">
        </p>
        <p>
          <label for="email">Confirm password:</label>
          <input type="password" id="pass2" name="password2">
        </p>
        <input type="submit" value="Register">
      </fieldset>
    </form>
  </div>
</template>
<script>
  Vue.component('registration-form', {
    template: '#registration-template'
  });
</script>
<style scoped>
  form {
    display: table;
  }

  p {
    display: table-row;
  }

  label {
    display: table-cell;
  }

  input {
    display: table-cell;
  }
</style>