<template id="signin-template">
  <div>
    <h1>Signin</h1>
    <form action="/signin" method="POST">
      <fieldset>
        <legend>Form</legend>
        <p>
          <label for="username">Username or E-mail:</label>
          <input type="text" id="username" name="username">
        </p>
        <p>
          <label for="password">Password:</label>
          <input type="password" id="password" name="password">
        </p>
        <input type="submit" value="Sign in">
      </fieldset>
    </form>
  </div>
</template>
<script>
  Vue.component('signin-form', {
    template: '#signin-template'
  });
</script>
<style scoped>
  form {
    display: table;
  }

  p {
    display: table-row;
  }

  label {
    display: table-cell;
  }

  input {
    display: table-cell;
  }
</style>